@import '../../_config';

.login-page {
  @include flexbox(row, 0);
  justify-content: center;
  align-items: center;
  height: 84vh;
  background: rgb(226, 233, 237);
  background: $login_register-gradient;

  @include singInAndUpForms(350px, 70%);
}

@media screen and (min-width: 601px) {
  .login-page {
    @include desktopSignInAndUpForms(500px, 70%);
  }
}
