@import '../../_config';

.register-page {
  @include flexbox(row, 0);
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: rgb(226, 233, 237);
  background: linear-gradient(
    90deg,
    rgb(69, 90, 101) 5%,
    rgb(229, 231, 232) 120%
  );

  @include singInAndUpForms(350px, 85%);
}

@media screen and (min-width: 601px) {
  .register-page {
    @include singInAndUpForms(500px, 80%);
  }
}
