@import '../../_config';
@import '../../_utilities';

.thankyou-page {
  height: 84vh;

  .thankyou-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      background-image: url('homepage_img.jpg');
      background-size: cover;
      background-position: center;
      opacity: 0.7;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .thankyou-content {
      position: relative;
      @include flexbox(column, 2rem);
      width: 70%;
      width: 300px;
      padding: 3rem;
      background-color: rgb(219, 214, 214);
      border: 2px solid #5c6265;
      border-radius: $primary-border-radius;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

      h2 {
        font-size: 28px;
        text-align: center;
        color: $primary-font-color;
      }

      p {
        text-align: center;
        font-size: 1.7rem;
      }

      button {
        @include flexbox(row, 10px);
        justify-content: center;
        align-items: center;
        @extend .btn-primary;
        @extend .btn-steelblue;
        line-height: 1.8;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .thankyou-page {
    .thankyou-container {
      .thankyou-content {
        width: 400px;

        button {
          width: 70%;
          margin: auto;
        }
      }
    }
  }
}
