@import '../../_config';

.search-form {
  @include flexbox(row, 0);
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  font-size: 1.8rem;
  grid-area: searchBar;
  padding-top: 3rem;

  .search-input {
    width: 70%;
    height: 32px;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 10px;
    font-family: 'Karla';
    font-size: 1.7rem;
  }

  .search-btn {
    border: 1px solid rgb(172, 169, 169);
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
    height: 32px;
    padding-top: 5px;
    padding-left: 4px;
    padding-right: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}
