@import '../../_config';

@media only screen and (max-width: 649px) {
  .updateBook-container {
    margin: auto;
  }
}

.updateBook-container {
  width: 32rem;
  padding: 1rem;
  padding: 1rem 0;
  line-height: 1.4;
  color: #454545;

  .updateBook-img-form,
  .updateBook-details-form {
    @include flexbox(column, 0.5rem);
    align-items: center;
    /*  font-family: 'Karla'; */
    padding: 2rem 0;
    line-height: 1.5;
    border: 1px solid rgb(233, 231, 231);
    border-radius: $primary-border-radius;
    /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
      rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
    box-shadow: $primary-box-shadow;
    background: rgb(228, 228, 235);
    background: $primary-linear-gradient;
    width: 32rem;

    .update-delete-msg {
      @extend .forms-msg;
      /*  color: rgb(192, 15, 15);
      font-size: 1.4rem; */
      width: 270px;
      text-align: center;
    }

    button {
      width: $primary-btn-width;
    }
  }

  legend {
    width: 25rem;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 0.8px;
    font-weight: bold;
    color: $primary-font-color;
    padding: 4px 0;
  }

  .updateBook-img-form {
    border-bottom: 1px solid rgb(197, 195, 195);

    input {
      background-color: #fff;
      line-height: 2;
      width: 270px;
    }

    .updateBook-btns-container {
      @include flexbox(row, 1rem);
      justify-content: center;
      margin-top: 1.5rem;
    }
  }

  .updateBook-details-form {
    .form-section {
      @include flexbox(column, 0);
      input,
      textarea {
        background-color: #fff;
        line-height: 1.8;
        width: 270px;
      }
    }

    .updateBook-btns-container {
      @include flexbox(row, 1rem);
      justify-content: center;
      margin-top: 1.5rem;
    }
  }
}

/* @import '../../_config';

@media only screen and (max-width: 649px) {
  .updateBook-container {
    margin: auto;
  }
}

.updateBook-container {
  width: 32rem;
  padding: 1rem;
  padding: 1rem 0;
  line-height: 1.4;
  color: #454545;

  .updateBook-img-form,
  .updateBook-details-form {
    @include flexbox(column, 0.5rem);
    align-items: center;
    font-family: 'Karla';
    padding: 2rem 0;
    line-height: 1.5;
    border: 1px solid rgb(233, 231, 231);
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
      rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    background: rgb(228, 228, 235);
    background: linear-gradient(
      333deg,
      rgb(242, 242, 237) 0%,
      rgb(232, 232, 228) 35%,
      rgb(229, 230, 232) 100%
    );
    width: 32rem;

    .update-delete-msg {
      color: rgb(192, 15, 15);
      font-size: 1.4rem;
      width: 270px;
      text-align: center;
    }

    button {
      width: 80px;
    }
  }

  legend {
    width: 25rem;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 0.8px;
    font-weight: bold;
    color: #3c4f58;
    padding: 4px 0;
  }

  .updateBook-img-form {
    border-bottom: 1px solid rgb(197, 195, 195);

    input {
      background-color: #fff;
      line-height: 2;
      width: 270px;
    }

    .updateBook-btns-container {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 1.5rem;
    }
  }

  .updateBook-details-form {
    .form-section {
      @include flexbox(column, 0);
      input,
      textarea {
        background-color: #fff;
        line-height: 1.8;
        width: 270px;
      }
    }

    .updateBook-btns-container {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 1.5rem;
    }
  }
}
 */
