@import './_utilities';

@mixin flexbox($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin btnColors($color1, $color2) {
  background-color: linear-gradient($color1, $color2);
}

@mixin singInAndUpForms($width, $height) {
  .form-container {
    @include flexbox(column, 5rem);
    justify-content: center;
    align-items: center;
    width: $width;
    height: $height;
    padding: 0 5rem;
    border: 1px solid rgb(190, 187, 187);
    border: 1px solid rgb(147, 146, 146);
    border-radius: 5px;
    background: linear-gradient(
      333deg,
      rgba(228, 228, 235, 1) 0%,
      rgba(210, 210, 215, 1) 35%,
      rgba(227, 230, 233, 1) 100%
    );

    h2 {
      font-family: 'Montserrat_Alternates';
      font-size: 28px;
      color: #3c4f58;
    }

    form {
      @include flexbox(column, 1.5rem);
      font-family: 'Karla';

      p {
        color: rgb(192, 15, 15);
        font-size: 1.4rem;
        text-align: center;
        width: 250px;
      }

      input {
        line-height: 1.8;
        width: 250px;
        text-align: center;
        font-size: 1.6rem;
      }

      button {
        @extend .btn-primary;
        @extend .btn-steelblue;
      }
    }
  }
}
