@import '../../_config';
@import '../../_utilities';

.notFound-container {
  @include flexbox(column, 3rem);
  align-items: center;
  justify-content: center;
  height: 84vh;
  /*  font-family: 'Karla';
  font-size: 1.7rem; */

  h2 {
    font-family: $secondary-font;
    font-size: 28px;
    color: $primary-font-color;
  }

  button {
    @include flexbox(row, 10px);
    align-items: center;
    @extend .btn-primary;
    @extend .btn-steelblue;
  }
}

/* @import '../../_config';
@import '../../_utilities';

.notFound-container {
  @include flexbox(column, 3rem);
  align-items: center;
  justify-content: center;
  height: 84vh;
  font-family: 'Karla';
  font-size: 1.7rem;

  h2 {
    font-family: 'Montserrat_Alternates';
    font-size: 28px;
    color: #3c4f58;
  }

  button {
    @include flexbox(row, 10px);
    align-items: center;
    @extend .btn-primary;
    @extend .btn-steelblue;
  }
}
 */
